 
 
 
 
  @import "scss/variables";
  @import "scss/base";
  @import "scss/Layout/header";
  @import "scss/Layout/textCity";
  @import "scss/Layout/explorer";
  @import "scss/Layout/footer";
  @import "scss/animations";







.restaurants{
    
    margin-top: 40px;
    background-color: rgba(211, 211, 211, 0.125);
    height: 1200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}
.titlerestaurants{

    margin-right: auto;
}


.fonctionnement button:hover{

    background-color: #f5edff;
    i {
      color: $color-primary;
}
}

.fonctionnement{

   
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20px 35px;
        gap: 1rem;
 

    & button {

          box-shadow: $basic-boxshadow;
          border: transparent;



        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: $color-primary;
            width: 1.5rem;
            height:1.5rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            left: -1rem;
            bottom: 10px;
            


        }

        position: relative;
         background-color: #f6f6f6;
         border-radius: 1rem;
         padding: 1rem;
    }
    & i {

        margin-right: 20px;
        margin-left: -30px;
    }


    counter-reset: steps;

    }




    #iconsolo
{
    padding: 1rem 1rem 1rem 1.7rem;
}
   

    .restaurant__list {
        display: flex;
        height: 1000px;
        width: 100%;
        gap: 1rem;
        
    }

.card {
   
    width: 100%;
    height: 250px;
    box-shadow: $basic-boxshadow;
    border-radius: 10px;


    & img {
        width: 100%;
        height: 175px;
        border-radius: 10px 10px 0 0;
        margin: auto;
        object-fit: cover;
    }
    
    & h3 {
        margin-bottom: 0px;
        color: black;
        margin-left: 10px;
        font-weight: bold;
        
    }
    & p {

        margin-top: 0;
        color: black;
        margin-left: 10px;
        
    }
   
    
}
.restaurant__list
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 860px;
    margin: 0 auto;
    .new{
        position: relative;
    }
    .new::before{
    content: "Nouveau";
    position: absolute;
    top: 5%;
    right: 5%;
    font-family: "Roboto";
    font-weight: 700;
    background-color: #99E2D0;
    color: #008766;
    padding: 10px;
    border-radius: 2px;

    }
    
    

    


}

.card a {

    display:inline-block;
    text-decoration:none;
    width: 100%;
    height: 250px;
}
.card__description
{
    height: 55px;
    position: relative;

    i {
        position: absolute;
        font-size: 1.5rem;
        right: 1rem;
        color: black;
        top:10%
        
    }
   
}






#fasolid
{
    color: transparent;
    background-image: $gradient-color;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 800ms;
}


#fasolid:hover{

      opacity: 1;
}

#fasolid2
{
    color: transparent;
    background-image: $gradient-color;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms;
}


#fasolid2:hover{

      opacity: 1;
}
#fasolid3
{
    color: transparent;
    background-image: $gradient-color;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms;
}


#fasolid3:hover{

      opacity: 1;
}
#fasolid4
{
    color: transparent;
    background-image: $gradient-color;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms;
}


#fasolid4:hover{

      opacity: 1;
}


/*Media queries*/

@media (min-width:728px){

 

    .restaurant__list{

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 860px;
        margin: 0 auto;
           
    }

    .restaurants{
        align-items: center;
        height: 750PX;
    }
    .card{
        width:350px;
    }
    .logofooter{
        display: block;
        margin-left: auto !important;
        margin-right: auto;
    }
    .contentfooter{

        align-items: center;

    }
    .fonctionnement{

        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    
    }

    /*Media queries pages*/ 

    



    
}




/*PAGE1 La palette du goût*/


img {
    object-fit: cover;
    width: 100%;
    height: 30vh;
    display: block;
}





.menu__list{


    
    
    position: relative;
    background-color: #f6f6f6;
    margin: 0;
    margin-top:-53px;
    border-radius: 1rem 1rem 0 0;

    h2{
        padding: 1rem;
        margin-bottom: 0;
        font-family: 'Shrikhand', cursive;
    }
  
    
}

.fa-regular {


         position: absolute;
        font-size: 1.5rem;
        right: 1rem;
        color: black;
        top: 35%;
        


}


.menu__content{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    overflow: hidden;
    gap: 1rem;

    h3{
        margin-left: 1rem;
        position: relative;

        &::after{

            content:"";
            position: absolute;
            width: 3rem;
            height: 0.25rem;
            background-color: $color-tertiary;
            left: 0;
            bottom: 0;
            top:25px;
        }
    }
   
 }

 .menu__choice {

        
        border-radius: 1rem;
        overflow: hidden;
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        gap: 1rem;


        h4{
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
           
            }
        
        p{
            margin-top: 0;
            margin-bottom: 0;
            text-overflow: ellipsis;
            overflow: hidden;
        }

       

.menu__description{

    display: flex;
    overflow: hidden;
    background-color: white;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  box-shadow: $basic-boxshadow;
  
  
   

   
}



.menu__price{
    
    
    margin-left: auto;
    font-weight: bold; 
    padding: 1rem; 
    display: flex;
    align-items: flex-end;
}
.menu__check{

    background-color: $color-tertiary;
    margin-right: -3rem;
    width: 3rem;
    transition: all 0.5s;
    display: grid;
    place-items: center;  
    flex-shrink: 0; 

    i{
        background-color: white;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1rem; display: grid;
    place-items: center;
    color: $color-tertiary;


    }
}
.menu__description:hover{

    cursor: pointer;

    .menu__check{
    margin-right: 0;
} 
i{
     animation: iconrotate 0.5s;
}


}
.menu__descriptiontext{
    padding: 1rem 0rem 1rem 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}


.btn_commande{
    border: 2px solid ;
    border-radius: 1.5rem;
    padding: 0.80rem 1.5rem;
    background: $gradient-color;
    color: white;
    font-weight:500;
    font-size: 1rem;
    transition: transform 200ms; 
    width: 12rem;
    margin: 22px auto 35px auto;
}

 & button:hover {

    transform: scale(1.02);
    opacity: 0.9;
  }

}
.fa-arrow-left{

    color: black;
}
.menu__list{

    .fa-solid{
        position: absolute;
        font-size: 1.5rem;
        right: 1rem;
        top:35%;
        color: transparent;
        background-image: $gradient-color;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms;
    
    }
    
    .fa-solid:hover{
    
        opacity: 1;
    }
}
 header{
    i{
        position: absolute;
        left: 1rem;
        top: 22px;
        font-size: 1.5rem;

    }
 }


 @media (min-width:1440px) {

    header{
        max-width: 1440px;
        margin: auto;
    }
    .img_restaurant {
        max-width: 1440px;
        margin: auto;
    
    }
    .menu__list{

        margin: auto;
        margin-top: -17px;
        max-width: 1440px;

        h2{
            text-align: center;
        }

    }
    .menu__content{

        margin: auto;
        max-width: 1440px;

    }
    .footermenu {

        max-width: 1440px;
        margin: auto;

    }
   
 }
 @media (max-width:380px) {

    .circle {
        width: 248px;
        height: 248px;
    }

    .box p {

        left: 21%;
    }
 }

