
/*Animation Loading page*/

.loader{
  display: flex;
justify-content: center;
align-items:center;
 height: 100vh;
 padding-left: 10px;
 padding-right: 10px;

  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.9;
  animation-name: loaddisp;
  animation-delay: 3s;
  animation-fill-mode: forwards;

}

.box {
  position:relative;
  color: #f1f1f1;
  transition: transform 0.4s cubic-bezier (0.23,1.83,0.42,1.19)
}

  .box p{
  position:absolute;
  top:36%;
  left:28%;
  transform: translate(-50%, -50%);
  font-size:25px;
  font-family: "Shrikhand", cursive;
  background:$gradient-color;
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
  animation: pulse 2s infinite;
  
}

.circle {
  width:320px;
  height:320px;
  border-radius:50%;
  animation: 1s linear infinite alternate boxMagic,
    4s linear infinite spinning;  
}

@keyframes boxMagic {
    
    from{ 
      
      box-shadow:      
                   0 0 0 #9356DC,
                   0 0 0 #FF79DA,
                   0 0 0 #99E2D0,
                   0 0 0 #9356DC;
   
    }
    
    to {     
         
      box-shadow:
                0 -10px 0 #9356DC,
                -10px 0 0 #FF79DA,
                  0 10px 0 #99E2D0,
                 10px 0 0 #9356DC;  
    }
      
  }
  
  @keyframes spinning {
    
    from {
      transform: rotate(0deg);   
    }
    
    to {
      transform: rotate(360deg);
    }
    
  }
  
  /*loading page pulse oh my food*/
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      
    }
    
    70% {
      transform: scale(1);
      
    }
    
    100% {
      transform: scale(0.95);
      
    }
  }

  @-webkit-keyframes loaddisp {

    from {

        opacity: 1 ;
    }

    to {

      opacity: 0;
      visibility: hidden;
      
    }


    /*ANIMATION BOUTON MENU*/
  }

  .delay-1{
    animation: iconappear 1.3s;
    
}
.delay-2{
   animation: iconappear 1.3s;
   animation-delay: 200ms;
   
}
.delay-3{
   animation: iconappear 1.3s;
   animation-delay: 300ms;
  
}
.delay-4{
  animation: iconappear 1.3s;
   animation-delay: 400ms;

  
}
.delay-5{
   animation: iconappear 1.3s;
   animation-delay: 500ms;
  
}
.delay-6{
  animation: iconappear 1.3s;
   animation-delay: 600ms;
  
}
.delay-7{
   animation: iconappear 1.3s;
   animation-delay: 700ms;
}
.delay-8{
  animation: iconappear 1.3s;
  animation-delay: 800ms;
  
}
.delay-9{
   animation: iconappear 1.3s;
   animation-delay: 900ms;
   
}


/*ANIMATION VALIDATION MENU*/

@keyframes iconappear
{
   from{
       transform: scale(0) ;
       
       
   }
   to {
       transform: scale(1);
   }
   
}

@keyframes iconrotate {

  0% {
      transform: rotate(-270deg);
  }
  100% {
      transform: rotate(0deg);
  }

}







  