.explorer{

    text-align: center;
    padding: 30px 30px 45px 30px;
    background-color: rgba(211, 211, 211, 0.125);
    
    &__title{

    margin-top: 0%;
    margin-bottom: auto;
    font-size: 1.5em;
}
    &__btn
{
    border: 2px solid ;
    border-radius: 1.5rem;
    padding: 0.75rem 1.5rem;
    background: $gradient-color;
    color: white;
    font-weight:500;
    font-size: 1rem;
    transition: transform 200ms; 
}

 & button:hover {

    transform: scale(1.02);
    opacity: 0.9;
  }
 
}
.loader{
    display: flex;
  justify-content: center;
  align-items:center;
   height: 100vh;
   padding-left: 10px;
   padding-right: 10px;

    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: #ffffff;
    opacity: 0.9;
    animation-name: loaddisp;
   animation-delay: 3s;
    animation-fill-mode: forwards;

  
  

}

.box {
    position:relative;
    color: #f1f1f1;
    transition: transform 0.4s cubic-bezier (0.23,1.83,0.42,1.19)
   
   
  }
  
    .box p{
    position:absolute;
    top:36%;
    left:28%;
    transform: translate(-50%, -50%);
    font-size:25px;
    font-family: "Shrikhand", cursive;
    background:$gradient-color;
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    animation: pulse 2s infinite;
    
    
  }
  .circle {
    width:320px;
    height:320px;
    border-radius:50%;
    animation: 1s linear infinite alternate boxMagic,
      4s linear infinite spinning;
      
  }
  
 