header{
    padding: 0.5rem;
    box-shadow: 1.5px 1.5px 1.5px lightgray ;
    position:relative
}

.header__logo{
     
    font-family: 'Shrikhand', cursive;
    text-align: center;
    margin: 0%;
    font-size: 2em;    
}